.winner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #16697a;
    border-radius: 4px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
    box-shadow: 0 0 20px 15px #555;

   
}