.homepage {
    h1 {
        text-align: center;
    }

    .flaticon {
        text-align: center;
    }

    a {
        color: initial;
        text-decoration: none;
    }

    .card-game {
        background-color: #fff;
        border-radius: 4px;
        width: 300px;
        padding: 10px;
        box-shadow: 0 0 5px 1px #555;
        margin: 0 auto;

        img {
            width: 50px;
            vertical-align: middle;
        }
 
        span {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}